<html>
	<head>
		  <title>creanetworx</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <meta charset="utf-8">
		  <meta name="description" content="Web development">
		  <meta name="author" content="d_eadpanda">
		  <meta http-equiv=X-UA-Compatible content=IE=edge>
	</head>
		<body>
		  <!-- Home Page -->
		  <div id="home" class="page color-1">
		    <div class="inner-page">
		      <h2 class="page-headline large">We make the applications for you as we would have them do for themselves.</h2>
		    </div>
		    <div class="row inner-page">
		      <div class="col-md-8 col-md-push-4 lazy-container">
		        
		      </div>
		      <div class="col-md-4 col-md-pull-8">
		        <ul class="big-list">
		          <li><i class="fa fa-check"></i> Flat design</li>
		          <li><i class="fa fa-tablet"></i> Responsive</li>
		          <li><i class="fa fa-cloud"></i> Bootstrap 3</li>
		          <li><i class="fa fa-cog"></i> Built with LESS</li>
		        </ul>
		        <br />
		        <a href="#features" title="Check out more freatures!" class="scroll btn btn-primary btn-centered"><i class="fa fa-caret-down"></i> Learn more</a>
		      </div>
		    </div>
		  </div> <!-- /#home -->
		  <!-- Feature page-->
		  <div id="services" class="page color-4">
		  	<h2 class="page-headline-line large">
		  		<span>What We Do</span>
		  	</h2>
		    <div class="service-list">
		    	<div class="service--ruby">
		    		<h4>Full-stack Web Application</h4>
		    		<p>
		    		creanetworx develops web applications and consumable APIs using Ruby on Rails. We are
					specialists in scaling and optimizing applications to ensure peak performance.
		    		</p>
		    	</div>
		    	<div class="service--js">
		    		<h4>Single-page Applications</h4>
		    		<p>
		    		Our expertise extends beyond server-side applications. We use powerful client-side frameworks,
					like AngularJS, Ember.js and Backbone.js, to create rich and fluid user experiences.
		    		</p>
		    	</div>
		    	<div class="service--rd">
		    		<h4>Responsive Design</h4>
		    		<p>
		    		Mobile is not the future, mobile is happening now and is here to stay. We use cutting edge layout
					techniques to ensure your application will be accessible on any screen, no matter the size.
		    		</p>
		    	</div>
		    	<div class="service--seo">
		    		<h4>SEO & PPC</h4>
		    		<p>
		    		A critical element to the success of your digital marketing efforts is devoting effort to appearing high in search engine results for relevant keywords.
		    	</div>
		    </div>
<hr></hr>
  
  </div> <!-- /#features -->

  <!-- Assets page -->
  <div id="work" class="page color-3">
  	<h2 class="page-headline-line-2 large">
		<span>How We Do</span>
	</h2>
    <div class="steps-list">
      	<div class="steps--idea">
      		<h4>Your Idea</h4>
      	</div>
      	<div class="steps--plus">&nbsp;</div>
      	<div class="steps--creanet">
      		<h4>Creanetworx</h4>
      	</div>
      	<div class="steps--equals">&nbsp;</div>
      	<div class="steps--soft">
      		<h4>Working Software</h4>
      	</div>
      	<div class="steps--arrow">&nbsp;</div>
      	<div class="slide-perform">
      		<h4>Performance&nbsp;Efficience&nbsp;Secure</h4>
      	</div>
    </div>

    

    <hr>

    <!-- Clients -->
    <div class="clients color-1">
      <div class="inner-page">
        <h2 class="page-headline">Who's using stories.</h2>
      </div>
      <div class="inner-page row">
        <ul class="clients list-inline">
          <li><i class="fa fa-globe"></i> Earth</li>
          <li><i class="fa fa-heart"></i> Love</li>
          <li><i class="fa fa-leaf"></i> Leaves</li>
          <li><i class="fa fa-cloud"></i> Clouds</li>
        </ul> 
      </div>
    </div>
  </div> <!-- /#assets -->

  <!-- About page -->
  <div id="contact_us" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Who are we and how it all got started. Our story.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
        <img class="figurette lazy" src="img/pixel.png" data-original="img/green-office.png" alt="Our workspace" />
      </div>
      <div class="col-md-6">
        <h3>Zonbi tattered for solum.</h3>
        <p class="lead">The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.</p>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p>
      </div>
    </div>

    <hr>

    <!-- Team -->
    <div class="row inner-page team">
      <div class="col-md-6">
        <img class="pull-left" src="img/cookies2.png" alt="A cookie" />
        <h4>Jane Doe</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="fa fa-home"></i>  <a href="prettystrap.com">http://prettystrap.com</a>
          </li>
          <li><i class="fa fa-envelope-o"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="fa fa-facebook-square"></i></a>
            <a href="#about"><i class="fa fa-twitter"></i></a>
            <a href="#about"><i class="fa fa-github-square"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 team2">
        <img class="pull-left" src="img/cookies.png" alt="A cookie" />
        <h4>John Doe</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="fa fa-home"></i>  <a href="prettystrap.com">http://prettystrap.com</a>
          </li>
          <li><i class="fa fa-envelope-o"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="fa fa-facebook-square"></i></a>
            <a href="#about"><i class="fa fa-twitter"></i></a>
            <a href="#about"><i class="fa fa-github-square"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /#about -->

  <!-- Contact page -->
  <div id="help" class="page color-2">
    <div class="inner-page">
      <h2 class="page-headline">Get in touch and stay updated</h2>
    </div>
    <div class="row inner-page contact">
      <div class="col-md-6">
        <h3>What's on your mind?</h3>
        <form id="contact-form">
          <textarea rows="6" class="form-control" placeholder="Your story"></textarea>
          <input type="text" class="form-control" placeholder="your@e-mail.com">
          <input type="text" class="form-control" placeholder="Name">
          <button class="btn btn-primary btn-centered">Contact us</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="btn-container centered lazy-container text-center">
          <img src="img/pixel.png" class="lazy figurette" alt="Open the map" data-original="img/map.png" />
          <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Stationsplein,+1012+Centrum,+Amsterdam,+Noord-Holland,+The+Netherlands&amp;hl=en"><i class="pull-left fa fa-map-marker"></i><div>Stationsplein, 1012 AB,<br />Amsterdam,<br /> The Netherlands</div></a>
        </div>
      </div>
    </div>
  </div> <!-- /#contact -->

  <!-- Newsletter -->
  <div class="newsletter color-1">
    <div class="inner-page row">
      <div class="col-md-4">
        <h4>
          <strong>Be cool</strong>, subscribe to get our latest news</h4>
      </div>
      <div class="col-md-6">
        <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary pull-right btn-block">Subscribe</button>
      </div>
    </div>
  </div> <!-- /newsletter -->
		</body>
		</html>