<html>
	<head>
		  <title>creanetworx</title>
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <meta charset="utf-8">
		  <meta name="description" content="Web development">
		  <meta name="author" content="d_eadpanda">
		  <meta http-equiv=X-UA-Compatible content=IE=edge>
	</head>
		<body>
		  <!-- Home Page -->
		  <div id="home" class="page color-1">
		    <div class="inner-page">
		      <h2 class="page-headline large">Tell your projects awesome story.</h2>
		    </div>
		    <div class="row inner-page">
		      <div class="col-md-8 col-md-push-4 lazy-container">
		        
		      </div>
		      <div class="col-md-4 col-md-pull-8">
		        <ul class="big-list">
		          <li><i class="fa fa-check"></i> Flat design</li>
		          <li><i class="fa fa-tablet"></i> Responsive</li>
		          <li><i class="fa fa-cloud"></i> Bootstrap 3</li>
		          <li><i class="fa fa-cog"></i> Built with LESS</li>
		        </ul>
		        <br />
		        <a href="#features" title="Check out more freatures!" class="scroll btn btn-primary btn-centered"><i class="fa fa-caret-down"></i> Learn more</a>
		      </div>
		    </div>
		  </div> <!-- /#home -->
		</body>
		</html>